<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="project.css">
</head>
<body>
    <header id="header" class="header">
        <div class="navbar">

           <div class="row"></div>
               <div class="col">
                   <nav>
                      <ul class="menu d-flex justify-content-center" >
                          <li class="menu__item">
                              <a href="/">
                                  Home
                              </a>
                          </li>

                          <li class="menu__item">
                            <a href="#about">
                                About
                            </a>
                          </li>

                          <li class="menu__item">
                            <a href="#contacts">
                                Contacts
                            </a>
                         </li>
                      </ul>          
                   </nav>                
               </div>
           </div>
        </div>
    </header>

    <div class="team">
        <h5>Our team</h5>
    </div>

    <div class="container my-container">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="row my-row">
                <div class="col-md-6 my-col">
                    <h2>Ainur</h2>
                    <img src="Ainur.jfif" width="256" height="256">
                </div>

                <div class="col-md-6 my-col">
                    <h2>Aruzhan</h2>
                    <img src="Aruzhan.jfif" width="256" height="256">
                </div>
            </div>

            <div class="row my-row">
                <div class="col-md-6 my-col">
                    <h2>Malika</h2>
                    <img src="Malika.jfif" width="256" height="256">
                </div>

                <div class="col-md-6 my-col">
                    <h2>Meruyert</h2>
                    <img src="Meruyert.jfif" width="256" height="256">
                </div>
            </div>

            <div class="row justify-content-center my-row">
                <div class="col-md-6 my-col">
                    <h2>Bek</h2>
                    <img src="Bek.jfif" width="256" height="256">
                </div>
            </div>

        </div>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h2>Information about our team</h2>
       <p>Our Team members are: Bek Zhaksybai, Malika Balabekova, Aruzhan Baizakova, Ainur Karimbayeva and Meruert Nassirdinova.</p><br>
        <div>
            <p>Bek Zhaksybay is responsible for making about page. During the work he took the role of psychologist as well and supported us for keeping our mood positive.</p>
        </div>
        <div>
            <p>Malika Balabekova and Ainur Karimbayeva are responsible for home page. Malika always tried to keep our atmosphere humorous.</p>
        </div>
        <div>
            <p>Meruert Nassirdinova made our JavaScript.</p>
        </div>
        <div>
            <p>And Aruzhan Baizakova is responsible for documentation and meetings. </p>
        </div>
    </div>

    <footer id="contacts" class="contact-area">
        <div class="container">
            <h1>Contact</h1>
            <h4>2021 © Karimbaeva Ainur, Nassirdinova Meruyert, Balabekova Malika, Baizakova Aruzhan, Zhaksybay Bek</h4>
            <a href="https://twitter.com/Bek38083549"><img src="twitter.png"></a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>